In [169]:
import pandas as pd
import numpy as np
from datetime import datetime

# chaneel_pgm

In [114]:
channel_1 = pd.read_csv('channel_pgm_01.csv', encoding='cp949')
channel_2 = pd.read_csv('channel_pgm_02.csv', encoding='cp949')
channel_3 = pd.read_csv('channel_pgm_03.csv', encoding='cp949')

### 3개 파일 합치기

In [115]:
channel_pgm = pd.concat([channel_1, channel_2, channel_3], axis=0)

In [116]:
channel_pgm

,Unnamed: 0,subsr,chnl_nm,in_dt,use_tms,pgm_nm,SMRY,ACTR_DISP,Unnamed: 8
0,1,65062000,무비플러스,20240106092047,4,무비플러스 가격인하,NaN,NaN,NaN
1,2,60156000,무비플러스,20240106201934,5,무비플러스 가격인하,NaN,NaN,NaN
2,3,66277000,무비플러스,20240106200956,13,무비플러스 가격인하,NaN,NaN,NaN
3,4,64005000,무비플러스,20240106202658,1,무비플러스 가격인하,NaN,NaN,NaN
4,5,65263000,무비플러스,20240106050057,6,무비플러스 가격인하,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
18256,18257,64448000,롯데홈쇼핑,20240306182640,40,김나운의 요리조리,NaN,NaN,NaN
18257,18258,66492000,디자이어TV,20240306221048,4367,선정적 문구 차단중,NaN,NaN,NaN
18258,18259,65955000,이벤트TV,20240306002831,8,유찬의 가요를 부탁해(129회),NaN,NaN,NaN
18259,18260,62769000,이벤트TV,20240306003438,0,유찬의 가요를 부탁해(129회),NaN,NaN,NaN
18260,18261,65497000,MBC,20240306052258,23,푸른백세 어영차 바다야,NaN,NaN,NaN

### 불필요한 컬럼 제거

In [117]:
channel_pgm.drop(['Unnamed: 0','Unnamed: 8'], axis=1, inplace=True)

In [118]:
channel_pgm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74195 entries, 0 to 18260
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   subsr      74195 non-null  int64
 1   chnl_nm    74195 non-null  object
 2   in_dt      74195 non-null  int64
 3   use_tms    74195 non-null  int64
 4   pgm_nm     74195 non-null  object
 5   SMRY       31351 non-null  object
 6   ACTR_DISP  50946 non-null  object
dtypes: int64(3), object(4)
memory usage: 4.5+ MB

### datetime 생성

In [119]:
date = pd.to_datetime(channel_pgm.in_dt, format = "%Y%m%d%H%M%S")

In [120]:
date_time_indt

0       2024-01-06 09:20:47
1       2024-01-06 20:19:34
2       2024-01-06 20:09:56
3       2024-01-06 20:26:58
4       2024-01-06 05:00:57
                ...
28829   2024-01-15 14:50:18
28830   2024-01-15 06:58:13
28831   2024-01-15 17:57:48
28832   2024-01-15 10:13:35
28833   2024-01-15 08:46:15
Name: in_dt, Length: 28834, dtype: datetime64[ns]

In [121]:
channel_pgm['datetime'] = date_time_indt
channel_pgm['datetime']

0       2024-01-06 09:20:47
1       2024-01-06 20:19:34
2       2024-01-06 20:09:56
3       2024-01-06 20:26:58
4       2024-01-06 05:00:57
                ...
18256   2024-01-31 22:12:22
18257   2024-01-31 22:12:22
18258   2024-01-31 20:01:17
18259   2024-01-31 20:39:01
18260   2024-01-31 03:35:02
Name: datetime, Length: 74195, dtype: datetime64[ns]

In [122]:
channel_pgm['day'] = channel_pgm['datetime'].apply(lambda x : x.day)

In [123]:
channel_pgm['day']

0         6
1         6
2         6
3         6
4         6
         ..
18256    31
18257    31
18258    31
18259    31
18260    31
Name: day, Length: 74195, dtype: int64

In [124]:
channel_pgm['hour'] = channel_pgm['datetime'].apply(lambda x : x.hour)
channel_pgm['hour']

0         9
1        20
2        20
3        20
4         5
         ..
18256    22
18257    22
18258    20
18259    20
18260     3
Name: hour, Length: 74195, dtype: int64

In [125]:
channel_pgm.drop('in_dt', axis=1, inplace=True)

In [126]:
channel_pgm

,subsr,chnl_nm,use_tms,pgm_nm,SMRY,ACTR_DISP,datetime,day,hour
0,65062000,무비플러스,4,무비플러스 가격인하,NaN,NaN,2024-01-06 09:20:47,6,9
1,60156000,무비플러스,5,무비플러스 가격인하,NaN,NaN,2024-01-06 20:19:34,6,20
2,66277000,무비플러스,13,무비플러스 가격인하,NaN,NaN,2024-01-06 20:09:56,6,20
3,64005000,무비플러스,1,무비플러스 가격인하,NaN,NaN,2024-01-06 20:26:58,6,20
4,65263000,무비플러스,6,무비플러스 가격인하,NaN,NaN,2024-01-06 05:00:57,6,5
...,...,...,...,...,...,...,...,...,...
18256,64448000,롯데홈쇼핑,40,김나운의 요리조리,NaN,NaN,2024-01-31 22:12:22,31,22
18257,66492000,디자이어TV,4367,선정적 문구 차단중,NaN,NaN,2024-01-31 22:12:22,31,22
18258,65955000,이벤트TV,8,유찬의 가요를 부탁해(129회),NaN,NaN,2024-01-31 20:01:17,31,20
18259,62769000,이벤트TV,0,유찬의 가요를 부탁해(129회),NaN,NaN,2024-01-31 20:39:01,31,20
18260,65497000,MBC,23,푸른백세 어영차 바다야,NaN,NaN,2024-01-31 03:35:02,31,3

### 저장

In [128]:
channel_pgm.to_csv('channel_pgm.csv', encoding='cp949')

# cotents

In [281]:
contents_1 = pd.read_csv('contents_01_clean.csv', encoding='cp949')
contents_2 = pd.read_csv('contents_02_clean.csv', encoding='cp949')
contents_3 = pd.read_csv('contents_03_clean.csv', encoding='cp949')

### 3개 파일 합치기

In [282]:
contents = pd.concat([contents_1, contents_2, contents_3], axis=0)
contents

,Unnamed: 0,Unnamed: 0.1,subsr,series_nm,super_asset_nm,ct_cl,genre_of_ct_cl,SMRY,ACTR_DISP,disp_rtm,log_dt
0,1,2,66056000,NaN,2차노출,영화,멜로,성형외과 전문의 송치는 어느 날 자신의 애인 류동과 가장 친한 친구 샤오시가 서로를...,"판빙빙,풍소봉,곽사연,요안렴",NaN,2.024010e+13
1,2,3,61779000,NaN,마들렌,영화,멜로,소설가를 꿈꾸는 지석. 헤어 디자이너를 꿈꾸는 희진. 몇 번의 우연한 만남이 이어지...,"조인성,신민아,박정아,강래연,김수로,최규환",1:56,2.024010e+13
2,3,4,67170000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,2.024010e+13
3,4,5,66547000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,2.024010e+13
4,5,6,66547000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,2.024010e+13
...,...,...,...,...,...,...,...,...,...,...,...
17470,24910,24911,60784000,매화홍도 : 미스터 앤 미세스 첸,매화홍도 : 미스터 앤 미세스 첸 24회,TV드라마,외화 시리즈,진가평과 국민당 요원이 합작하여 계획한 위조지폐 공장 폭파 계획은 일본인에게 작전을...,"관효동,한동군,전뢰,장의",00:45,2.024031e+13
17471,24911,24912,64659000,눈떠보니 라떼,눈떠보니 라떼 3회,TV드라마,외화 시리즈,본 회차는 방송사의 사정으로 줄거리를 제공하지 않습니다.,-,00:30,2.024033e+13
17472,24912,24913,66056000,눈떠보니 라떼,눈떠보니 라떼 3회,TV드라마,외화 시리즈,본 회차는 방송사의 사정으로 줄거리를 제공하지 않습니다.,-,00:30,2.024032e+13
17473,24913,24914,66056000,내 이야기는 길어,내 이야기는 길어 1회,TV드라마,외화 시리즈,스키야키와 자전거 외. 오늘도 하는 일 없이 엄마에게 빌붙어 사는 백수 키시베 미츠...,"이쿠타 토마,야스다 켄,코이케 에이코,키요하라 카야",00:46,2.024033e+13
17474,24914,24915,66056000,내 이야기는 길어,내 이야기는 길어 1회,TV드라마,외화 시리즈,스키야키와 자전거 외. 오늘도 하는 일 없이 엄마에게 빌붙어 사는 백수 키시베 미츠...,"이쿠타 토마,야스다 켄,코이케 에이코,키요하라 카야",00:46,2.024033e+13

### 불필요한 컬럼 제거

In [283]:
contents.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace=True)

In [284]:
contents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51714 entries, 0 to 17474
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subsr           51714 non-null  int64
 1   series_nm       24361 non-null  object
 2   super_asset_nm  51714 non-null  object
 3   ct_cl           51714 non-null  object
 4   genre_of_ct_cl  51714 non-null  object
 5   SMRY            51714 non-null  object
 6   ACTR_DISP       51714 non-null  object
 7   disp_rtm        47702 non-null  object
 8   log_dt          51714 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 3.9+ MB

In [285]:
contents['log_dt'] == 2.02401000e+13

0         True
1         True
2         True
3         True
4         True
         ...
17470    False
17471    False
17472    False
17473    False
17474    False
Name: log_dt, Length: 51714, dtype: bool

In [286]:
contents.replace(2.02401000e+13, np.nan, inplace=True)

### datetime 생성

In [287]:
contents.log_dt.unique()

array([           nan, 2.02402012e+13, 2.02402170e+13, ...,
       2.02403231e+13, 2.02403290e+13, 2.02403290e+13])

In [288]:
date = pd.to_datetime(contents.log_dt, format = "%Y%m%d%H%M%S")

In [289]:
contents['datetime'] = date
contents['datetime']

0                       NaT
1                       NaT
2                       NaT
3                       NaT
4                       NaT
                ...
17470   2024-03-13 00:10:30
17471   2024-03-25 09:57:01
17472   2024-03-23 12:07:14
17473   2024-03-29 00:10:10
17474   2024-03-29 00:10:12
Name: datetime, Length: 51714, dtype: datetime64[ns]

In [290]:
contents['day'] = contents['datetime'].apply(lambda x : x.day)
contents['day'].fillna(-1, inplace=True)
contents['day'] = contents['day'].astype(int)

In [291]:
contents['hour'] = contents['datetime'].apply(lambda x : x.hour)
contents['hour'].fillna(-1, inplace=True)
contents['hour'] = contents['hour'].astype(int)

In [292]:
contents.drop('log_dt', axis=1, inplace=True)

In [293]:
contents

,subsr,series_nm,super_asset_nm,ct_cl,genre_of_ct_cl,SMRY,ACTR_DISP,disp_rtm,datetime,day,hour
0,66056000,NaN,2차노출,영화,멜로,성형외과 전문의 송치는 어느 날 자신의 애인 류동과 가장 친한 친구 샤오시가 서로를...,"판빙빙,풍소봉,곽사연,요안렴",NaN,NaT,-1,-1
1,61779000,NaN,마들렌,영화,멜로,소설가를 꿈꾸는 지석. 헤어 디자이너를 꿈꾸는 희진. 몇 번의 우연한 만남이 이어지...,"조인성,신민아,박정아,강래연,김수로,최규환",1:56,NaT,-1,-1
2,67170000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,NaT,-1,-1
3,66547000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,NaT,-1,-1
4,66547000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,NaT,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
17470,60784000,매화홍도 : 미스터 앤 미세스 첸,매화홍도 : 미스터 앤 미세스 첸 24회,TV드라마,외화 시리즈,진가평과 국민당 요원이 합작하여 계획한 위조지폐 공장 폭파 계획은 일본인에게 작전을...,"관효동,한동군,전뢰,장의",00:45,2024-03-13 00:10:30,13,0
17471,64659000,눈떠보니 라떼,눈떠보니 라떼 3회,TV드라마,외화 시리즈,본 회차는 방송사의 사정으로 줄거리를 제공하지 않습니다.,-,00:30,2024-03-25 09:57:01,25,9
17472,66056000,눈떠보니 라떼,눈떠보니 라떼 3회,TV드라마,외화 시리즈,본 회차는 방송사의 사정으로 줄거리를 제공하지 않습니다.,-,00:30,2024-03-23 12:07:14,23,12
17473,66056000,내 이야기는 길어,내 이야기는 길어 1회,TV드라마,외화 시리즈,스키야키와 자전거 외. 오늘도 하는 일 없이 엄마에게 빌붙어 사는 백수 키시베 미츠...,"이쿠타 토마,야스다 켄,코이케 에이코,키요하라 카야",00:46,2024-03-29 00:10:10,29,0
17474,66056000,내 이야기는 길어,내 이야기는 길어 1회,TV드라마,외화 시리즈,스키야키와 자전거 외. 오늘도 하는 일 없이 엄마에게 빌붙어 사는 백수 키시베 미츠...,"이쿠타 토마,야스다 켄,코이케 에이코,키요하라 카야",00:46,2024-03-29 00:10:12,29,0

### 저장

In [294]:
contents.to_csv('contents.csv', encoding='cp949')

# vod

In [145]:
vod_1 = pd.read_csv('vod_01_clean.csv', encoding='cp949')
vod_2 = pd.read_csv('vod_02_clean.csv', encoding='cp949')
vod_3 = pd.read_csv('vod_03_clean.csv', encoding='cp949')

### 3개 파일 합치기

In [146]:
vod = pd.concat([vod_1, vod_2, vod_3], axis=0)
vod

,Unnamed: 0,Unnamed: 0.1,subsr,asset_nm,ct_cl,genre_of_ct_cl,use_tms,SMRY,ACTR_DISP,disp_rtm,strt_dt
0,0,4,66437000,콩순이 율동교실 4기 01회,키즈,기타,60,콩순이 아이스크림 좋아송. 아이스크림 너무 좋아~! 콩순이와 친구들이 함께 부르는 ...,콩순이,0:01,2.020000e+13
1,1,120,63086000,깨비키즈 공룡스토리 23회,키즈,기타,300,집을 잃은 티라 상. 아랫마을에 아주 성질이 더러운 스피노라는 육식동물이 나타났어요...,-,0:05,2.020000e+13
2,2,121,63086000,깨비키즈 공룡스토리 23회,키즈,기타,300,집을 잃은 티라 상. 아랫마을에 아주 성질이 더러운 스피노라는 육식동물이 나타났어요...,-,0:05,2.020000e+13
3,3,363,65198000,야구장 가는날,키즈,기타,840,인기 작가 김영진 작가 신작. 야구보다 치킨이 더 좋은 그린이와 열혈 야구팬 아빠가...,-,0:14,2.020000e+13
4,4,558,60527000,타요의 씽씽극장 동요2 11회,키즈,기타,120,겨울 친구. 하얗게 반짝이는 눈이 펑펑 내렸어요. 썰매도 타고 눈싸움도 해볼까요? ...,-,0:02,2.020000e+13
...,...,...,...,...,...,...,...,...,...,...,...
5858,7772,7773,64399000,(자막)주술회전 2기: 시부야 사변 16회(N),TV애니메이션,액션/모험,1276,"궁지에 몰렸던 이타도리는 토도의 격려를 받고 일어선다. 격렬한 공방 중에 이타도리,...","고죠 사토루,이타도리 유지",00:23,2.024030e+13
5859,7774,7775,66556000,괴물(2023)(예고),영화,드라마,56,싱글맘 사오리는 아들 미나토의 행동에서 이상 기운을 감지한다. 용기를 내 찾아간 학...,"안도 사쿠라,다나카 유코,나가야마 에이타,쿠로카와 소야,히이라기 히나타",00:01,2.024031e+13
5860,7775,7776,66556000,괴물(2023)(예고),영화,드라마,5,싱글맘 사오리는 아들 미나토의 행동에서 이상 기운을 감지한다. 용기를 내 찾아간 학...,"안도 사쿠라,다나카 유코,나가야마 에이타,쿠로카와 소야,히이라기 히나타",00:01,2.024031e+13
5861,7776,7777,63086000,괴물(2023)(예고),영화,드라마,60,싱글맘 사오리는 아들 미나토의 행동에서 이상 기운을 감지한다. 용기를 내 찾아간 학...,"안도 사쿠라,다나카 유코,나가야마 에이타,쿠로카와 소야,히이라기 히나타",00:01,2.024031e+13
5862,7779,7780,65954000,피도 눈물도 없이(KBS) 049회(24/03/29),TV드라마,기타,1920,"사고 이후 깨어난 혜지는 망상장애로 기억이 왜곡되고, 시간이 흘러 혜원은 YJ 그룹...","이소연,하연주,오창석,장세현,정찬,정혜선,양혜진,박신우,정수영,유태웅",00:32,2.024033e+13

In [147]:
vod.strt_dt.unique()

array([2.02000000e+13, 2.02402192e+13, 2.02402141e+13, ...,
       2.02403141e+13, 2.02403102e+13, 2.02403302e+13])

In [295]:
vod.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace=True)

In [297]:
vod['strt_dt'] == 2.02000000e+13

0        True
1        True
2        True
3        True
4        True
        ...
5858    False
5859    False
5860    False
5861    False
5862    False
Name: strt_dt, Length: 17715, dtype: bool

In [299]:
vod.replace(2.02401000e+13, np.nan, inplace=True)

### datetime 생성

In [288]:
date = pd.to_datetime(vod.strt_dt, format = "%Y%m%d%H%M%S")

In [289]:
vod['datetime'] = date
vod['datetime']

0                       NaT
1                       NaT
2                       NaT
3                       NaT
4                       NaT
                ...
17470   2024-03-13 00:10:30
17471   2024-03-25 09:57:01
17472   2024-03-23 12:07:14
17473   2024-03-29 00:10:10
17474   2024-03-29 00:10:12
Name: datetime, Length: 51714, dtype: datetime64[ns]

In [290]:
vod['day'] = vod['datetime'].apply(lambda x : x.day)
vod['day'].fillna(-1, inplace=True)
vod['day'] = vod['day'].astype(int)

In [291]:
vod['hour'] = vod['datetime'].apply(lambda x : x.hour)
vod['hour'].fillna(-1, inplace=True)
vod['hour'] = vod['hour'].astype(int)

In [292]:
vod.drop('log_dt', axis=1, inplace=True)

In [293]:
vod

,subsr,series_nm,super_asset_nm,ct_cl,genre_of_ct_cl,SMRY,ACTR_DISP,disp_rtm,datetime,day,hour
0,66056000,NaN,2차노출,영화,멜로,성형외과 전문의 송치는 어느 날 자신의 애인 류동과 가장 친한 친구 샤오시가 서로를...,"판빙빙,풍소봉,곽사연,요안렴",NaN,NaT,-1,-1
1,61779000,NaN,마들렌,영화,멜로,소설가를 꿈꾸는 지석. 헤어 디자이너를 꿈꾸는 희진. 몇 번의 우연한 만남이 이어지...,"조인성,신민아,박정아,강래연,김수로,최규환",1:56,NaT,-1,-1
2,67170000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,NaT,-1,-1
3,66547000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,NaT,-1,-1
4,66547000,NaN,1번가의 기적,영화,코미디,"재개발의 막중한 임무를 띠고 에쿠스를 끌며 폼 나게 1번가에 나타난 날건달, 필제....","임창정,하지원,주현,정두홍,이훈,강예원,박창익,박유선",1:52,NaT,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...
17470,60784000,매화홍도 : 미스터 앤 미세스 첸,매화홍도 : 미스터 앤 미세스 첸 24회,TV드라마,외화 시리즈,진가평과 국민당 요원이 합작하여 계획한 위조지폐 공장 폭파 계획은 일본인에게 작전을...,"관효동,한동군,전뢰,장의",00:45,2024-03-13 00:10:30,13,0
17471,64659000,눈떠보니 라떼,눈떠보니 라떼 3회,TV드라마,외화 시리즈,본 회차는 방송사의 사정으로 줄거리를 제공하지 않습니다.,-,00:30,2024-03-25 09:57:01,25,9
17472,66056000,눈떠보니 라떼,눈떠보니 라떼 3회,TV드라마,외화 시리즈,본 회차는 방송사의 사정으로 줄거리를 제공하지 않습니다.,-,00:30,2024-03-23 12:07:14,23,12
17473,66056000,내 이야기는 길어,내 이야기는 길어 1회,TV드라마,외화 시리즈,스키야키와 자전거 외. 오늘도 하는 일 없이 엄마에게 빌붙어 사는 백수 키시베 미츠...,"이쿠타 토마,야스다 켄,코이케 에이코,키요하라 카야",00:46,2024-03-29 00:10:10,29,0
17474,66056000,내 이야기는 길어,내 이야기는 길어 1회,TV드라마,외화 시리즈,스키야키와 자전거 외. 오늘도 하는 일 없이 엄마에게 빌붙어 사는 백수 키시베 미츠...,"이쿠타 토마,야스다 켄,코이케 에이코,키요하라 카야",00:46,2024-03-29 00:10:12,29,0

In [ ]:
vod.to_csv('vod.csv', encoding='cp949')